<div class="row">
  <div class="col-md-4 offset-md-2 mb-3">
    <h2>Friends</h2>
    <ul class="list-group">
      <%= render @friends  %>
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Suggestions</h2>
    <ul class="list-group">
      <%= render @pending, locals: { action: 'accept' } %>
      <%= render @pending_friend, locals: { action: 'pending' } %>
      <%= render @other, locals: { action: 'add' } %>
    </ul>
  </div>
</div>
