<div class="row">
  <div class="col-md-6 offset-md-3">
    <ul class="list-group">
      <%= render @pending_acceptance, locals: { action: 'accept' } %>
      <%= render @pending_friend_acceptance, locals: { action: 'pending' } %>
      <%= render @other, locals: { action: 'add' } %>
    </ul>
  </div>
</div>
