<footer class="footer mt-auto py-1">
  <div class="container">
    <small>
      The <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project" target="_blank">
        Facebook Clone (Odin Project assignment)</a>
      by <a href="https://github.com/oscardelalanza" target="_blank">Oscar de La Lanza</a>
      and <a target="_blank" href="https://github.com/ferreirati">Tiago Ferreira</a>.
    </small>
    </div>
</footer>